/.*
**/.*
!/.gitignore
!/.gitattributes
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

__pycache__/
*.py[cod]

.artifacts/
.cache/
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/

build/
dist/
htmlcov/

runs/logs/
runs/metadata/
runs/mlruns/
runs/results/
runs/tmp/
runs/tmp_tearsheet_check/
